body{
    align-items: center;
    background: linear-gradient(155deg,#25252a,#1a3d9c,#000002);
}
nav h1 {
    color: white;
  }
  
  nav a {
    color: white;
    transition: var(--transition);
  }
  nav a:hover {
    color: white;
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: white;
  }