/* Outer wrapper to center the content */
.resume-wrapper {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
  align-items: center;
  min-height: 10vh;
  padding: 10px;
}

/* Resume item card */
.resume-item {
  width: 600px;
  padding: 15px;
  background-color: #ffffff73;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header section */
.resume-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.resume-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Circular logo */
  overflow: hidden;
}

.resume-img {
  height: 75%;
  object-fit: contain;
}

.resume-info {
  flex-grow: 1;
}

.resume-institution {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.resume-position-details {
  font-size: 0.9rem;
  color: #ffffff;
}

.resume-meta {
  flex-shrink: 0;
  text-align: right;
  white-space: nowrap;
  font-size: 0.8rem;
}

.resume-location,
.resume-dates {
  font-size: 0.8rem;
  color: #ffffff;
}

/* Description section */
.resume-description {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 5px;
}


@media screen and (max-width: 768px) {

  .resume-wrapper {
    width: 240px;
    padding: 10px;
  }

  /* Resume item card */
  .resume-item {
    background-color: #ffffff73;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }

  /* Header section */
  .resume-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .resume-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    overflow: hidden;
  }
  .res-sep-hdr{
    display: flex;
    align-items: center;
  }

  .resume-img {
    object-fit: contain;
  }

  .resume-info {
    flex-grow: 1;
  }

  .resume-institution {
    font-size: .75rem;
    font-weight: bold;
    max-width: 60%;
    color: #fff;
  }

  .resume-position-details {
    font-size: 1rem;
    color: #ffffff;
  }

  .resume-meta {
    flex-shrink: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .resume-location,
  .resume-dates {
    font-size: 0.8rem;
    color: #ffffff;

  }

  .resume-description {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 5px;
    width: 100%;
  }

}
